@model TatbikatModels.Category
@{
    ViewBag.Title = "Create Category";
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal", @role = "form", id = "form", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br />
            <div class="panel panel-default">

                <div class="panel-heading ui-draggable-handle">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="panel-title" id="panelTitle">Create Categroy</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <br />
                    <div class="row">
                        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            @Html.Label("Name", htmlAttributes: new { @class = "control-label  " })
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = true} })
                        </div>
                        <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            @Html.Label("Image", htmlAttributes: new { @class = "control-label  " })
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                            <input type="file" name="image" id="image" @*required="required"*@ />
                        </div>
                    </div>
                </div>
                <div class="panel-footer">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-center">
                            <input type="submit" value="Create Button" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


